* {
    box-sizing: border-box;
}

.App {
    width: 40%;
    margin: auto;
}

header {
    background-color: black;
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    font-weight: bold;
    margin-bottom: 0;
    border: 0.025px solid black;
}